.category-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap:10px;

    
   }

   .category-title {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
  
}
